.show-all {
    background: green;
}

.mapform {
    display: none;
}

#body, .content-wrapper {
    height: calc(100vh - 70px);
    margin-top: 0px;
}

#map {
    height: 100%;
    width: 100%;
}

.leaflet-popup-content-wrapper, .leaflet-popup-content {
    width: 315px !important;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.leaflet-popup-content .popup-contents {
    width: 315px; 
    height: 210px; 
    position: relative;
}

.leaflet-popup-content .popup-text {
    font-size: 20px; 
    color: white; 
    text-shadow: 0px 0px 10px #000;
    position: absolute; 
    bottom: 15px; 
    left: 15px; 
    width: 285px;
}

.leaflet-popup-tip {
    background: black;
}

.leaflet-popup-close-button, .leaflet-popup-close-button span {
    display: none;
}
